a,
a:hover,
a:active,
a:visited {
    color: white;
}

body {
    font-family: 'Lucidia', sans-serif;
    background-color: #101010;
    color: #ffffff;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

body {
    background: url(icons/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

/* desktop  */
@media only screen 
and (min-width: 1080px) {
    .myname {       
        font-size: 120px;
        text-align: left;
    }
    .mytitle {       
        font-size: 90px;
        text-align: left;
    }

    .img-social img{
        margin-top: 10px; /*to have the space above the image*/
        margin-right: 10px; /*to have the space under the image*/
        width: 85px;
        height: 85px;
    }

    .img-badge img{
        margin-top: 5px; /*to have the space above the image*/
        
        width: 120px;
        height: 120px;
    }
}

/* mobile  */
@media (min-width: 320px)
and (max-width: 1080px) {
    .myname {       
        font-size: 100px;
        text-align: left;
    }
    .mytitle {       
        font-size: 75px;
        text-align: left;
    }
    
    .img-social img{
        margin-top: 10px; /*to have the space above the image*/
        margin-right: 10px; /*to have the space under the image*/
        width: 60px;
        height: 60px;
    }

    .img-badge img{
        margin-top: 10px; /*to have the space above the image*/
        margin-right: 10px; /*to have the space under the image*/
        width: 100px;
        height: 100px;
    }
}


