/* mobile css with huge fonts that take the whole width of the screen */


body {
    font-family: 'Lucidia', sans-serif;
    background-color: #101010;
    color: #ffffff;
    text-align: left;
    padding: 10%;

}

img
{
   margin-top:10px; /*to have the space above the image*/
   margin-right:10px; /*to have the space under the image*/
}


body {
    background: url(icons/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

/* desktop css with smaller fonts and centered */
@media (min-width: 480px) {
    .myname {       
        font-size: 115px;
        text-align: left;
    }
    .mytitle {       
        font-size: 90px;
        text-align: left;
    }
}

/* mobile css with smaller fonts and centered */
@media (max-width: 480px) {
    .myname {       
        font-size: 180px;
        text-align: left;
    }
    .mytitle {       
        font-size: 180px;
        text-align: left;
    }
}


a,
a:hover,
a:active,
a:visited {
    color: white;
}